<br/>
<br/>

INDEX route for GAMEMORDE

<br/>

<div class="gamemode">
<%@gamemodes.each do |mode|%>
    <br/>
    <%= mode.mode_name%>
    Players playing this mode: <%mode.users.uniq.each do |user|%>
        <br/>
        <%=user.username%>,
    <%end%>
    <br/>
<%end%>
</div>
