<h1>Welcome to the Warzon Loadout app Here you can see all of the loadouts that have been created</h1>
<br/>
<%= render partial: 'loadoutview'%>
<br/>

<%if logged_in?%>
    <%= link_to 'Back home', root_path%>
<% else %>
    <%= link_to 'login', login_path%>
<% end %>